@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  font-family: "roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  --primary-light: #e5e5e5;
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--primary-light);
}

.header {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 20px 0 20px 600px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .3);
  background-color: white;
}

.header > h1{
  margin: 0;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.container > button {
  border: none;
  background-color: var(--primary-light);
  font-weight: 900;
  font-size: 28px;
  transition: transform 0.1s ease-in-out;
}

.container > button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}

.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  transition: filter 0.15s ease-in-out;
}

.btn:hover {
  filter: brightness(90%);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
/*Add book form */
.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  background-color: var(--primary-light);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.addBookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.addBookForm button {
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
}

.isRead {
  display: flex;
  gap: var(--spacing-md);
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  accent-color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}

/*Cards and container */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-xl);
  margin-top: var(--spacing-lg);
  width: 100%;
}

.book-card {
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  line-height: .6;
  margin: 0 30px 0 30px;
}